
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
  box-sizing: border-box;

}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 30px;
  background-color: #8BC34A;
  color: black;
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px gray;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}


body {
 
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 1em;
}


.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
}



.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}


/*Form styles*/

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form  {
  display: block;
}
.contact form p {
  margin: 0;
}


.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid rgb(80, 122, 118);
}

.contact form button:hover,
.contact form button:hover {
  background: #8BC34A;
  color: red;
  outline: 0;
  transition: background 2s ease-out;
}



.pie {
  background-color: gray;
  color: white;
}

.company-info h3,
.company-info ul,
.company-info .brand {
  text-align: center;
}

