* {
  box-sizing: border-box;
}
body {
  background: rgb(54, 170, 238);
  color: rgb(2, 3, 2);
  line-height: 1.6;
  font-family: sans-serif;
  padding: 1em;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
}
.brand span {
  color: rgb(199, 240, 236);
}
.wrapper {
  box-shadow: 0 0 20px rgba(3, 53, 102, 0.7);
}
.wrapper > * {
  padding: 1em;
}

.company-info {
  background: rgb(82, 117, 180);
}
.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}
.contact {
  background: rgb(110, 170, 174);
}
/*Form styles*/

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}
.contact form p {
  margin: 0;
}
.contact form .full {
  grid-column: 1/3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid rgb(80, 122, 118);
}

.contact form button {
  background: rgb(80, 122, 118);
  border: 0;
  text-transform: uppercase;
}
.contact form button:hover,
.contact form button:hover {
  background: yellow;
  color: aqua;
  outline: 0;
  transition: background 2s ease-out;
}

/*large screens*/
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.wrapper > * {
  padding: 2em;
}

.company-info h3,
.company-info ul,
.company-info .brand {
  text-align: left;
}
